/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    background-color: #f5f6f7;
    min-height: 400px;
    text-align: center;
    padding: 20px;
}

.hero-imatge-developer {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
}

.hero h1 {
    font-size: 4.5vw;
    font-family: "Vast Shadow", serif;
}

.hero h2 {
    font-size: 2.3vw;
    color: #615151;
}

.hero-inferior img {
    width: 50%;
}

/* About Me Section */
.dark-section {
    color: white;
    background-color: #1b1b32;
    padding: 40px 0;
}

.about-me {
    height: 500px;
    padding: 10px;
}

.about-me div {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.section-title {
    font-size: clamp(14px, 2.5vw, 50px);
    font-family: "Vast Shadow", serif;
    padding: 5px 0;
}

.section-text {
    font-size: 2vw;
    padding: 15px 0;
}

.btn-responsive {
    font-size: 11px;
    padding: 6px 12px;
}

/* Experience Section */
.experience {
    padding: 40px 0;
}

.experiencia-title {
    font-size: clamp(14px, 2.5vw, 50px);
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: clamp(14px, 2vw, 50px);
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia .columna {
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #8080804d;
    transition: all 0.3s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
    border: 2px solid #7ade30;
}

.badges-contenedor {
    font-size: clamp(12px, 1.5vw, 50px);
    font-weight: bold;
    margin: 10px 0;
}

/* Web Design Section */
.projectes {
    padding: 40px;
}

.projectes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease;
}

.projectes-container {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: clamp(14px, 2.5vw, 30px);
    margin-bottom: 0;
}

.projecte {
    position: relative;
}

.projecte:hover img {
    opacity: 0.2;
}

.projecte:hover .overlay {
    opacity: 1;
}

.overlay .icones-contenidor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/* Projects Section */
.video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projecte h2 {
    font-size: clamp(19px, 2.5vw, 30px);
    margin: 10px 0;
}

.projecte p {
    font-size: clamp(14px, 2vw, 25px);
    margin: 10px 0 30px 0;
}

/* Footer */
footer {
    min-height: 500px;
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-text {
    padding: 20px;
    margin-bottom: 30px;
    font-size: clamp(14px, 2.5vw, 50px);
    font-family: "Vast Shadow", serif;
}

.social-icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.social-icons i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.social-icons a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.social-icons a:hover i {
    color: black;
}

.drets {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .about-me {
        height: 200px;
    }

    .btn-responsive {
        font-size: 11px;
        padding: 6px 12px;
    }
}