.navbar{
    padding: 5px;
    background-color: rgb(206, 204, 204);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
      display: none;
    }    
  }
.hero{
    background-color: rgba(43, 41, 41, 0.514);
    min-height: 400;
    text-align: center;
}

section {
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
} 
  
h1{
    font-size: 4.5vw;
}

.hero-imatge-developer{
    width:200px;
    height:200px;
    margin:20px;
}
